@model MyWeb.Models.Domain.tbl_Users
@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="left">
    <h2>ویرایش کلمه عبور</h2>

    <div style="@ViewBag.Style">
        @ViewBag.Message
    </div>
    <div>
        @using (Html.BeginForm("EditPassword", "Admin", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>کلمه عبور فعلی :</td>
                    <td><input type="password" name="txt_OldPassword" value="" /></td>
                </tr>
                <tr>
                    <td>کلمه عبور جدید :</td>
                    <td><input type="password" name="txt_NewPassword" value="" /></td>
                </tr>
                <tr>
                    <td>تکرار کلمه عبور :</td>
                    <td><input type="password" name="txt_ConfirmPassword" value="" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="ثبت تغییرات" /></td>
                </tr>
            </table>
        }
    </div>
    @Html.ActionLink("برگشت", "Index")
</div>

