<ul class="list-panel">
    <li><a href="/Admin/ManageSubject">مدیریت مطالب</a></li>
    <li><a href="/Admin/ManageGrouping">مدیریت دسته بندی ها</a></li>
    <li><a href="/Admin/ManageUsers">مدیریت کاربران</a></li>
    <li><a href="/Admin/ManageContactUs">مدیریت تماس ها</a></li>
    <li><a href="/Admin/ManageAdvertising">مدیریت تبلیغات</a></li>
    <li><a href="/Admin/Settings">تنظیمات</a></li>
</ul>
